{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css'%}">

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}

    {% endblock %}
    {% block sidebar %}
        <p> <a href="{%  url 'home_page' %}">Inicio</a>
            <a href="{%  url 'login_page' %}">Login</a>
            <a href="{%  url 'logout_page' %}">Logout</a>
        </p>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    {% endblock %}
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

</body>
</html>