{% extends 'base/base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Estado de Recurso</td>
            <td>Tipo</td>
            <td>Estado de Mantenimiento</td>
        </tr>
    </thead>
    <tbody>
        {% if recursos %}
            {% for lista in recursos %}

            <tr>
                <td>{{ lista.id }}</td>
                <td>{{ lista.nombre }}</td>
                <td>{{ lista.estado }}</td>
                <td>{{ lista.tipo.nombre }}</td>
                <td>{{ lista.mantenimiento.estado.nombre }}</td>
                {% if lista.mantenimiento == None %}
                <td><a href="{% url 'recurso:crear_mantenimiento' lista.id %}">Mantenimiento</a></td>
                {% else %}
                     {% if lista.mantenimiento.estado.nombre == "Terminado" or lista.mantenimiento.estado.nombre == "Cancelado" %}
                        <td><a href="{% url 'recurso:crear_mantenimiento' lista.id %}">Mantenimiento</a></td>
                     {% else %}
                         <td><p>Ya tiene un mantenimiento en curso o a realizarse</p></td>
                     {%endif %}

                {%endif %}
            </tr>
            {% endfor %}
        {% else %}
            <h1>No hay registros de mantenimientos</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}