{% extends 'base/base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Estado</td>
            <td>Tipo</td>
        </tr>
    </thead>
    <tbody>
        {% if recursos %}
            {% for lista in recursos %}

            <tr>
                <td>{{ lista.id }}</td>
                <td>{{ lista.nombre }}</td>
                <td>{{ lista.estado }}</td>
                <td>{{ lista.tipo.nombre }}</td>
                {% if lista.mantenimiento is None %}
                <td><a href="{% url 'recurso:crear_mantenimiento' lista.id %}">Mantenimiento</a></td>
                {% else %}
                 <td><p>Ya tiene asignado un mantenimiento</p></td>
                {%endif %}
            </tr>
            {% endfor %}
        {% else %}
            <h1>No hay registros de recursos</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}