{% extends 'base/base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Tipo</td>
            <td>Tipo de Mantenimiento</td>
            <td>Estado de Mantenimiento</td>
        </tr>
    </thead>
    <tbody>
        {% if recursos %}
            {% for lista in recursos %}
            <tr>
                <td>{{ lista.id }}</td>
                <td>{{ lista.nombre }}</td>
                <td>{{ lista.tipo.nombre }}</td>
                {% if lista.mantenimiento is None %}
                <td>ninguno</td>
                <td>ninguno</td>
                {% else  %}
                <td>{{ lista.mantenimiento.tipo }}</td>
                <td>{{ lista.mantenimiento.estado }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
            <h1>No hay registros de recursos</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}