{% extends 'base/base.html' %}
{% block title %}
    Bienvenido al Sistema
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>Usuario</td>
                <td>Recurso</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li><a href="{%  url 'usuario:crearUsuario_crear' %}">Crear</a></li>
                        <li><a href="{%  url 'usuario:listar_usuario' %}">Editar</a></li>
                        <li><a href="{%  url 'usuario:listar_usuario' %}">Eliminar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a >Crear</a></li>
                        <li><a>Editar</a></li>
                        <li><a>Eliminar</a></li>
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>

{% endblock %}