{% extends 'base/base.html' %}

{% block title %}
    Bienvenido al Sistema
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>Usuario</td>
                <td>Recurso</td>
                <td>Tipo de Recurso</td>
                <td>Roles</td>
                <td>Mantenimientos</td>
                <td>Reservas</td>
                <td>Lista de reservas</td>
                <td>Reservas Generales</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li><a href="{%  url 'usuario:crearUsuario_crear' %}">Crear</a></li>
                        <li><a href="{%  url 'usuario:listar_usuario' %}">Editar</a></li>
                        <li><a href="{%  url 'usuario:listar_usuario' %}">Eliminar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'recurso:crear_recurso' %}">Crear</a></li>
                        <li><a href="{%  url 'recurso:listar_recurso' %}">Editar</a></li>
                        <li><a href="{%  url 'recurso:listar_recurso' %}">Eliminar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'recurso:crear_tipo_recurso' %}">Crear</a></li>
                        <li><a href="{%  url 'recurso:listar_tiporecurso' %}">Eliminar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'usuario:crearRol_crear' %}">Crear</a></li>
                        <li><a href="{%  url 'usuario:listar_rol' %}">Editar</a></li>
                        <li><a href="{%  url 'usuario:listar_rol' %}">Eliminar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'recurso:listar_asignar_man' %}">Asignar mantenimiento</a></li>
                        <li><a href="{%  url 'recurso:listar_mantenimiento' %}">Editar</a></li>
                        <li><a href="{%  url 'recurso:listar_rec_man' %}">Mostrar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'reserva:crear_reserva' %}">Crear</a></li>
                        <li><a href="{%  url 'reserva:listar_reserva' %}">Editar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'reserva:listar_lista_reserva' %}">Listar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'reserva:crear_reservageneral' %}">Crear reserva</a></li>
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>
    <h5>Reportes</h5>
    <ul>
        <li><a href="{%  url 'recurso:reporte_listarroles' %}">Recursos</a></li>
        <li><a href="{%  url 'reserva:crear_reporte' %}">Reservas</a></li>
    </ul>




{% endblock %}