{% extends 'base/base.html' %}
{% block title %}
    Bienvenido al Sistema
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>Usuario</td>
                <td>Recurso</td>
                <td>Tipo de Recurso</td>
                <td>Roles</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li><a href="{%  url 'usuario:crearUsuario_crear' %}">Crear</a></li>
                        <li><a href="{%  url 'usuario:listar_usuario' %}">Editar</a></li>
                        <li><a href="{%  url 'usuario:listar_usuario' %}">Eliminar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'recurso:crear_recurso' %}">Crear</a></li>
                        <li><a href="{%  url 'recurso:listar_recurso' %}">Editar</a></li>
                        <li><a href="{%  url 'recurso:listar_recurso' %}">Eliminar</a></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'recurso:crear_tipo_recurso' %}">Crear</a></li>
                        <li><a href="{%  url 'recurso:listar_tiporecurso' %}">Eliminar</a></li>

                    </ul>
                </td>
                <td>
                    <ul>
                        <li><a href="{%  url 'usuario:crearRol_crear' %}">Crear</a></li>
                        <li><a href="{%  url 'usuario:listar_rol' %}">Editar</a></li>
                        <li><a href="{%  url 'usuario:listar_rol' %}">Eliminar</a></li>
                    </ul>
                </td>

            </tr>

        </tbody>
    </table>

{% endblock %}